.bgkaro{     
    width: 100%;

    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(D:\Projects\Movie-app\moviedb\src\Assets\3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}